<head>
    <title>Admin | ALl Categories</title>
</head>

<body>
    <section th:replace="fragments/header :: header"></section>
    <div id="layoutSidenav">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="layoutSidenav_content">
            <div class="container-fluid px-4 pt-4">
                <div th:if="${message}" class="alert alert-success" role="alert">
                    <p th:text="${message}"></p>
                    </div>
                <main>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            All Categories
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr th:each="category : ${categories}">
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.name}"></td>
                                        <td>
                                            <a th:href="@{/admin/categories/edit/{id}(id=${category.id})}">Edit</a> |
                                            <a th:href="@{/admin/categories/delete/{id}(id=${category.id})}">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <section th:replace="fragments/footer :: footer"></section>
</body>

</html>